body, mce {
  color: #666;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

h1 {
  font-size: 2em; }

.fp-slide {
  box-sizing: border-box;
  border: 5px solid #666; }

article {
  margin: 0 auto;
  padding: 15px 30px;
  max-width: 650px;
  width: 100%;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-all; }
  article h1 {
    margin-top: 10px; }

.text-center {
  display: block;
  text-align: center;
  text-transform: capitalize; }

.inline-block {
  display: inline-block !important; }

.clearfix {
  clear: both; }

nav {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  height: 41px;
  width: 100%; }
  nav .handle {
    display: inline-block;
    color: #666; }
    nav .handle i {
      display: inline-block;
      padding: 15px; }
      nav .handle i.fa-close {
        display: none; }
      nav .handle i.fa-save {
        display: none;
        position: absolute;
        right: 10px;
        bottom: 0; }
  nav .settings-container {
    box-sizing: border-box;
    background: #FFF;
    display: none;
    font-family: monospace;
    color: #666;
    position: fixed;
    padding-top: 20px;
    top: 0;
    width: 100%; }
    nav .settings-container .menu {
      color: #666;
      width: 100%;
      max-width: 300px;
      margin: 0 auto; }
      nav .settings-container .menu ul {
        padding: 0;
        background-color: transparent;
        width: 100%;
        background-color: #eee;
        border-bottom: 2px solid #666;
        border-top: 2px solid #666; }
        nav .settings-container .menu ul li {
          background: #fff;
          display: block;
          padding: 5px;
          border-bottom: 1px solid #eee; }
          nav .settings-container .menu ul li.ui-sortable-helper {
            transform: rotate(1deg) scale(1) skew(1deg) translate(0px);
            -webkit-transform: rotate(1deg) scale(1) skew(1deg) translate(0px);
            -moz-transform: rotate(1deg) scale(1) skew(1deg) translate(0px);
            -o-transform: rotate(1deg) scale(1) skew(1deg) translate(0px);
            -ms-transform: rotate(1deg) scale(1) skew(1deg) translate(0px);
            -moz-box-shadow: -2px -2px 32px -12px #000000;
            -webkit-box-shadow: -2px -2px 32px -12px #000000;
            box-shadow: -2px -2px 32px -12px #000000; }
        nav .settings-container .menu ul#menu_archive li {
          text-align: left; }
          nav .settings-container .menu ul#menu_archive li#addPaper {
            padding: 0;
            height: 30px;
            display: flex;
            align-items: stretch;
            flex-flow: row; }
            nav .settings-container .menu ul#menu_archive li#addPaper input {
              border: 0;
              box-sizing: border-box;
              height: 30px;
              margin: 0;
              font-family: monospace;
              font-size: inherit; }
              nav .settings-container .menu ul#menu_archive li#addPaper input[name=paper-name] {
                padding-left: 5px;
                flex-grow: 2; }
              nav .settings-container .menu ul#menu_archive li#addPaper input[name=add-button] {
                width: 30px;
                background: #fff; }

/*# sourceMappingURL=main.css.map */
