<nav id="pagenav">
	<div class="handle">
			<i class="fa fa-ellipsis-v page-settings" aria-hidden="true"></i>
			<i class="fa fa-close page-settings"></i>
			<i class="fa fa-save"></i>
	</div>

	<div class="settings-container">
	  <h1 class="menu text-center">Papers</h1>
	  <div class="ajax-stack menu">
			<!-- load menu with ajax call -->
		</div>
		<div class="menu archive">
			<h3 class="text-center">Archive</h3>
			<ul id="menu_archive" class="droptrue">
				<li id="addPaper">
					<!-- <form action="" method="post"> -->
						<input type="text" name="paper-name" value="" placeholder="add paper name!" required>
						<input type="button" name="add-button" value="+" onClick="return addPaper();">
					<!-- </form> -->
					<div class="clearfix"></div>
				</li>
		</ul>
		</div>

	</div>

</nav>
