<nav id="pagenav">
	<div class="handle">
			<i class="fa fa-ellipsis-v page-settings" aria-hidden="true"></i>
			<i class="fa fa-close page-settings"></i>
			<i class="fa fa-save"></i>
	</div>

	<div class="settings-container">
	  <h1 class="menu text-center">Papers</h1>
	  <div class="ajax-stack menu"></div>

		<div class="menu archive text-center">
			<h3>Archive</h3>
			<form>
				<input type="text" name="paper-name" value="" placeholder="add new paper" required>
				<input type="button" name="add-button" value="+" onClick="addPaper();">
			</form>
			<ul id="menu_archive"></ul>
		</div>

	</div>

</nav>
